{% extends "base.html" %}

{% block title %}
 <title>About</title>
{% endblock title %}

{% block content %}
<p>Ma klele je about </p>
{% if name %}
<p>O {{ name }} hojla a bi se eno sporočilo poslal</p>
{% endif %}
<form method="post" action="/about">
 <input type="text" name="name" placeholder="Your name">
 <input type="text" name="email" placeholder="Your email">

 <textarea name="message" placeholder="Your message goes here"></textarea>

 <button type="submit">Submit</button>
</form>

{% endblock content %}